*~
*.log
*.o
*.so
*.mat
/alire/
config.status
CHANGES
access.xml
acc.xml
*.cproject
*.gb_project
*.project
*.log
*.ali
ChangeLog
.settings
configure.lineno
Makefile
util.gpr
tests.xml
autom4te.cache
*.txt
lib/
obj/
libmat/src/mat-config.h
Makefile.conf
regtests/results
bin
mat.cov
config.cache
gnatinspect.db
cover
