*~
*.log
*.o
*.so
*.mat
config.status
CHANGES
access.xml
acc.xml
*.cproject
*.gb_project
*.project
*.log
*.ali
ChangeLog
.settings
configure.lineno
Makefile
util.gpr
tests.xml
autom4te.cache
*.txt
lib/
obj/
libmat/src/mat-config.h
mat/Makefile.conf
mat/mat_tests.gpr
mat/mat_gtk.gpr
mat/mat.gpr
mat/regtests/results
mat/bin
mat/mat.cov
config.cache
mat/gnatinspect.db
mat/cover
