*~
*.log
*.o
*.so
*.mat
config.status
CHANGES
access.xml
acc.xml
*.cproject
*.gb_project
*.project
*.log
ChangeLog
.settings
configure.lineno
Makefile
util.gpr
tests.xml
autom4te.cache
*.txt
lib/
obj/
libmat/src/mat-config.h
matp/Makefile.conf
matp/mat_tests.gpr
matp/mat_gtk.gpr
matp/mat.gpr
