[submodule "ada-bfd"]
	path = ada-bfd
	url = https://github.com/stcarrez/ada-bfd.git
	branch = master
[submodule "ada-util"]
	path = ada-util
	url = https://github.com/stcarrez/ada-util.git
	branch = master
[submodule "ansi-ada"]
	path = ansi-ada
	url = https://github.com/mosteo/ansi-ada
