Source: mat
Priority: extra
Maintainer: Stephane Carrez <Stephane.Carrez@gmail.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, gnat, binutils-dev (>= 2.22), libiberty-dev
Standards-Version: 3.9.5
Section: devel
Homepage: https://github.com/stcarrez/mat

Package: libmat
Section: devel
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: mat
Description: Memory analysis tool library and launcher
 The libmat is a shared library that instruments memory allocation
 of a program.  The package provides the simple matl tool that
 launches any program to instrument the memory allocation.
 The results are analyzed by the mat application.

Package: mat
Section: devel
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: libmat
Description: Memory analysis tool
 The mat application is a memory analysis tool that analyzes the results
 of memory instrumentation collected by the libmat shared library.

